footer {
    padding-top: 50px;
    padding-bottom: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

i{
    width: 35px;
    height: 35px;
    font-size: 20pt;
}



.newItem {
    width: 100%;
    display:inline-block;
}

.modal-footer
{
    border-top: 1px solid #e5e5e5;
}

.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}

.portfolio
{
    color: #fff;
    text-decoration: none;
}